.card {
  width: 12rem;
  margin-right: 12px;

  & .cardBody {
    background-color: #efefef;
  }

  & img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }

  & .cardTit {
    color: #222;
    font-weight: 600;
  }

  & .cardDesc {
    color: #555;
    font-weight: 300;
    font-size: 13px;
    -webkit-line-clamp: 2;
  }

  & .cardPrice {
    color: #191919;
    text-align: end;
    /* font-weight: 600; */
  }

  & .cardPrice::before {
    content: "₩";
  }
}
