.list {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  padding: 0;
  margin: 0;
  gap: 12px;
  margin: 12px;
  display: -webkit-box;
  overflow-x: scroll;
  max-width: 100%;
}
