:root {
  --nightColor: #fff;
  --nightBack: #333;
}
html {
  box-sizing: border-box;
  letter-spacing: -0.2px;
}
html,
body {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  letter-spacing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0 !important;
}
ul {
  list-style: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
input,
button {
  border: 0 none;
  background-color: transparent;
  outline: none;
}

@media screen and (max-width: 768px) {
  /* something */
}

@media screen and (orientation: landscape) {
  /* 스크린이 가로일 떄 스타일 적용 */
}

@media screen and (orientation: portrait) {
  /* 스크린이 세로(가로 길이가 세로 길이만큼 짧아진 시점 이후)일 때만 스타일 적용 */
  body {
    color: blue !important;
  }
}

@media (hover: hover) {
  /* 사용자가 요소 위에 (마우스 커서를) 올릴 수 있는 능력을 가진 조건인지를 시험할 수 있다 */
}

@media (prefers-color-scheme: dark) {
  /* 다크모드 */
  html,
  body,
  * {
    color: var(--nightColor);
    background-color: var(--nightBack);
  }
}
