:root {
  --point: #ff6f61;
}
html {
  box-sizing: border-box;
  letter-spacing: -0.2px;
}
html,
body {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  letter-spacing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0 !important;
}
ul {
  list-style: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
input,
button {
  border: 0 none;
  background-color: transparent;
  outline: none;
}
